<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ListOfQuizzes</servlet-name>
    <servlet-class>servlet.QuizListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddQuiz</servlet-name>
    <servlet-class>servlet.QuizAddServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DeleteQuiz</servlet-name>
    <servlet-class>servlet.QuizDeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ListOfQuizzes</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddQuiz</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DeleteQuiz</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>list</welcome-file>
  </welcome-file-list>


</web-app>
