header {
    background: #f0f0f0;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 10px;
}

.table {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list {

    font-family: Tahoma,Verdana,Segoe,sans-serif;
    width:100%;
    border: 3px solid #9d9d9d;
    border-radius: 10px;
}

th {
    background: #55595e;
    padding:10px;
    color: #FFFFFF;
}

tr {
    border-top:1px solid gray;
    text-align:center;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}

.add{
    margin: 3% auto;
    width: 100px;
}

input[type=submit] {
    align-self: center;
    background-color: #3f3e5e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

