header {
    background: #f0f0f0;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 10px;
}
.list {
    font-family: cursive;
    font-size: 32px;
    background: #f0f0f0;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    border-radius: 10px;
}